@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
body {
  width: 100%;
  background-color: #fff;
}
* {
  box-sizing: border-box;
}
.choix:hover {
  background-color: #eee !important;
}
.icon {
  display: flex;
  justify-content: space-around;
  margin-top: 2.3rem;
}
.distance {
  font-size: 14px;
  position: relative;
  top: -11px;
}
.flech-arrive {
  color: blue;
  transform: rotate(42deg);
  font-size: 22px;
}
.btn-details {
  position: relative;
  top: 20px;
}

.convoi-name {
  position: relative;
  top: 6px;
  font-weight: bold;
}

.convoi-img {
  position: relative;
  left: 11px;
}
.stars {
  position: relative;
  right: 3px;
  bottom: 7px;
}
.nb-stars {
  display: none;
}
label {
  font-weight: bold;
}
@media screen and (max-width: 1200px) {
  .btn-details {
    position: relative;
    top: 20px;
  }

  .convoi-name {
    position: relative;
    top: 6px;
    left: 14px;
    font-weight: bold;
  }
  .stars {
    left: 11px;
  }
  .in-prb {
    width: 21px !important;
  }
  .convoi-img {
    position: relative;
    left: 11px;
  }
}
@media screen and (max-width: 430px) {
  .btn-details {
    position: relative;
    top: 20px;
  }
  td .supp-sm {
    display: none;
  }
  .nb-stars {
    display: inline;
  }
  .convoi-name {
    position: relative;
    top: 12px;
    bottom: 7px;
    font-weight: bold;
  }
  .stars {
    left: 11px;
  }
  .container2 {
    box-shadow: none;
  }
  .convoi-img {
    position: relative;
    left: 11px;
  }
  /*style de profil*/
}
@media screen and (max-width: 768px) {
  .aside-normale {
    display: none !important;
  }
  .prenom {
    margin-left: 15px !important;
  }
  .nom {
    margin-left: 5px !important;
  }
}
@media screen and (max-width: 360px) {
    .btn-details {
    position: relative;
    top: 20px;
}
  .convoi-name {
    position: relative;
    left: -12px;
    top: 12px;
    bottom: 7px;
    font-weight: bold;
  }
  .stars {
    left: -11px;
  }
  .convoi-img {
    position: relative;
    left: -17px;
}
}
.container-filtre {
    position: fixed;
    width: 100%;
    bottom: 8%;
    text-align: center;
}
.filtrer {
    background-color: red;
    position: fixed;
  width: 150px;
  border: none;
  border-radius: 35px;
  right: 31%;
  bottom: 8%;
  display: none;
  box-shadow: 0px 12px 41px 9px rgb(255, 82, 69);
}
@media screen and (max-width: 768px) {
    .filtrer {
        display: block;
  }
}
.info-pres , .signaler button{
    box-shadow: 0 4px 5px 0 rgb(84 84 84 / 20%), 0 2px 2px 0 rgb(84 84 84 / 20%), 0 3px 1px -2px rgb(84 84 84 / 20%);
}
.h6-info-prs {
  margin-top: 2px;
}
@media screen and (max-width: 768px) {
    .h6-info-prs {
        margin-right: 10px;
    }
}

.info-pres{
    padding: 30px !important;
}
.signaler{
    margin: 13px;
    margin-left: 0px;
    color: black;
    font-weight: 600;
    background-color: transparent;
    border: none;
    font-size: 22px;
}

/*Button de Modification de profil*/
.ModifierProfile__button{
     text-align: right;
}
.button-primary{
    text-decoration: none;
    text-transform:uppercase;
    text-align: left;
    background-color: #1b5ab1;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
    margin: 10px 0;
}
.button-primary:hover{
    color: white;
    padding: 11px;
}

/*Style de Button de modification de photo de profil*/

#input_img_profil{
  display: none;
}